:root {
  --background: #1f1f1f;
  --surface-1: #28292a;
  --surface-2: #2d2f31;

  --standby: #e3e3e3;
  
  --text-primary: #e3e3e3;
  --text-secondary: #c4c7c5;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// :focus {
//   outline: none;
//   box-shadow: 0 0 0 2px lightgreen;
// }

body {
  background: var(--background);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  // font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}